h2 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 3em;
    font-weight: 600;
    color: #000;
    margin: 0 0 0.5em 0;
    padding: 0;
}

h4 {
    color: #3f3f3f;
    font-weight: 500;
    margin: 0;
}

input {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #000;
    margin: 0 0 0.5em 0;
    padding: 7px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

#instructions {
    width: 70%;
}

#submit {
    background-color: #acdcf3;
    color: #3f3f3f;
    font-weight: bold;
    cursor: pointer;
}

#chat_history {
    display: flex;
    flex-direction: column;
    width: 600px;
    overflow-y: auto;
    max-height: 40vh;
}

.chat_msg {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #000;
    margin: 0 0 0.75em 0;
    padding: 10px;
    background-color: #f7e3b7;
    border-radius: 10px;
    max-width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
}


.role_function {
    background-color: #e5e5e5;
}

.role_user {
    background-color: #acdcf3;
    justify-content: flex-end;
    align-self: flex-end;
}

#user_input {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #000;
    padding: 5px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    text-align: right;
}

#content {
    background-color: white;
    border-radius: 15px;
    padding: 2.5%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  linear-gradient(to right, #fff4dd, #CFE7F4)
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset_button {
    border: none;
    background-color: transparent;
    color: #949494;
    margin-top: 5px;
    cursor: pointer;
}

#banner {
    width: 600px;
    top: 20px;
    position: relative;
    z-index: -1;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}